<div class="notepad">
  <h2>
    Notes
  </h2>
  <ul>
    {{#each data}}
      <li>
        {{this.note}}
            <a href="/deleteNote/{{this.note}}">DELETE</a>
      </li>
    {{/each}}
  </ul>
  <form class="new-note" method="POST" action="addNote">
    <input
      name="newNote"
      placeholder="Write note here..."
      type="text"
      value=""
    />
    <button>
      Add note
    </button>
  </form>
</div>