<div class="notepad">
  <h2>
    Notes
  </h2>
  <ul>
    {{#each data}}
      <li>
        {{this.note}}
            <button class="deleteNote" value={{this.id}}>DELETE</button>
      </li>
    {{/each}}
  </ul>
    <input
      id="newNote"
      placeholder="Write note here..."
      type="text"
      value=""
    />
    <button class="addNewNote">
      Add note
    </button>
</div>