body {
  /* background: red; */
}

.notepad {
  background: rgb(250, 250, 250);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

h2 {
  margin: 0;
  line-height: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px dotted #aaa;
  padding: 10px 0;
}

.note-item {
  display: flex;
  justify-content: space-between;
}

.new-note {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

input {
  width: 75%;
  border: 0;
}
